.flex {
    background-color: #f1f2f1;
    margin-bottom: 20px;
    display: flex;
    gap: 20px 20px;
    &--wrap {
        flex-wrap: wrap;
    }
    > div {
        background-color: orange;
        bordeR: 1px solid #f1f2f1;
        padding: 10px
    }
    > div.neutral {
        background-color: transparent;
    }
    .flexplain {
        background-color: #FFF;
        border: 4px solid orange;
        flex: 0 0 calc(50% - 10px);
        padding: 20px
    }
    .gridplain {
        background-color: #FFF;
        border: 4px solid cornflowerblue;
        flex: 0 0 calc(50% - 10px);
        padding: 20px
    }


    &--auto {
        > div {
            flex: 1 1 auto;
        }
    }
    &--auto-wrap {
        flex-wrap: wrap;
        > div {
            flex: 0 1 calc(50% - 15px);
            @media (min-width: 768px) {
                flex: 0 1 calc(25% - 15px);
            }
        }
    }
    &--one-to {
        flex-wrap: wrap;
        > div.fix {
            flex: 0 0 200px;
        }
        > div.flexible {
            flex: 1 1 auto;
        }
    }
}

.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.justify-self-right {
    justify-self: flex-end;
    outline: 3px solid darkorange;
}
.align-self-end {
    align-self: flex-end;
    outline: 3px solid darkorange;
}
.align-self-start {
    align-self: flex-start;
    outline: 3px solid darkorange;
}
.align-self-center {
    align-self: center;
    outline: 3px solid darkorange;
}

.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}


.space-stretch {
    justify-content: stretch;
    > div {
        flex-grow: 1;
    }
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.flex-direction-row-reverse {
    flex-direction: row-reverse;
}
.flex-direction-row {
    flex-direction: row;
}
.flex-direction-column-reverse {
    flex-direction: column-reverse;
}
.flex-direction-column {
    flex-direction: column;
}


.flexinputs {
    flex-direction: column;
    label {
        margin-bottom: 6px;
    }
    @media (min-width: 600px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        fieldset {
            flex: 0 0 45%
        }
    }
    @media (min-width: 1024px) {
        flex-wrap: nowrap;
        justify-content: space-between;
        fieldset {
            flex: 1 1 auto
        }
    }
}


.flex-vertical {
    display: flex;
    width: 350px;
    height: 600px;
    flex-direction: column;
    align-items: stretch;
    .flex & {
        border: 2px solid #ccc ;
    }



     &__flexible-height {
        flex-grow:1 ;
        display: flex;
        position: relative;
        padding: 20px 20px 20px 80px;
        justify-items: center;
        align-items: center;
         color: gray;

         .arrow {
            border-left: 4px dashed gray;
            width: 40px;
            position: absolute;
            top: 40px;
            bottom: 40px;
            left: 30px;
            &:before,
            &:after {
                content: '<';
                display: block;
                position: absolute;
                top:-20px;
                left: -8px;
                transform: rotate(90deg) scale(2);
            }
            &:after {
                transform: rotate(-90deg) scale(2);
                top: 100%;
            }
        }
    }
    &__height {
        display: flex;
        background-color: orange;
        justify-content: center;
        align-items: center;
    }
}

