@keyframes fly {
  100% {
    transform:rotate(1turn) translate(100px) rotate(-1turn);
  }
}

@keyframes flyPlus {
  100% {
    transform:rotate(-1turn) translate(100px) rotate(1turn);
  }
}
.blurry {
  position: absolute;
  filter: blur(100px);
  opacity: 0.8;
}

$colour-1: #000033;
$colour-2: #FFF;
$colour-3: #DBE4E1;

.grad {
  width: 100%;
  height: 70vh;
  background: blue;
  background: $colour-1;
  position: relative;
  overflow:hidden;
  &__1 {
    border-radius: 100%;
    width: 200%;
    height: 120%;
    background-color: blue;
    left:-5%;
    top:-50%;
    z-index: 3;
    animation: fly 12s linear infinite;
    transform:rotate(0) translate(80px) rotate(0);
    @extend .blurry
  }
  &__2 {
    width: 120%;
    height: 120%;
    background-color: red;
    bottom:-30%;
    left:-40%;
    @extend .blurry
  }
  &__3 {
    border-radius: 100%;
    width: 200%;
    height: 200vh;
    bottom:-20%;
    left: 0;
    background-color: lime;
    animation: flyPlus 8s linear infinite;
    transform:rotate(0) translate(100px) rotate(0);
    @extend .blurry
  }
}




.wrapper {
  width: 400px;
  height: 400px;
  background: #fff;
  position: relative;
  overflow:hidden;
  border-radius: 40px;
}

.base {
  position: absolute;
  filter: blur(60px);
  opacity: 0.8;
}

.one {
  border-radius: 100%;
  width: 600px;
  height: 600px;
  background-color: #373372;
  left:-50px;
  top:-300px;
  z-index: 3;
}

.two {
  width: 500px;
  height: 800px;
  background-color: #7C336C;
  bottom:-30px;
  left:-80px;
}

.three {
  /*border-radius: 100%;*/
  /*width: 450px;
  height: 450px;
  bottom:-80px;
  right:-100px;*/
  background-color: #B3588A;
}