$bg: #000033;
$shadow: #DBE4E0;
%innerdiv {
  position: absolute;
}
.grad {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;


  &__bg-1 {
    position: absolute;
    width: 100%;
    height:100%;
    background: $bg;
    /*animation: brightness 10s 0s linear infinite;*/
  }
  &__trans-1 {
    @extend %innerdiv;
    background: $shadow;
    width: 10%;
    height: 90%;
    left: 50%;
    filter: blur(7vmax);
    transform: skewX(20deg);
  }
  &__3 {
    /*position: absolute;
    opacity: 0.75;
    box-shadow: 0 0 20vmax 20vmax $shadow;
    animation: colour-1 10s 0s linear infinite;*/
  }

  /*&__2 {
    position: absolute;
    opacity: 0.75;
    box-shadow: 0 0 15vmax 15vmax $shadow;
    animation: colour-2 15s 0s linear infinite;
  }

  &__1 {
    position: absolute;
    opacity: 0.75;
    box-shadow: 0 0 10vmax 10vmax $shadow;
    animation: colour-3 20s 0s linear infinite;
  }*/

}
@function shadow($color) {
  @return 0 0 45vmax 45vmax #{$color};
}

@keyframes brightness {
  to {
    filter: brightness(100%);
  }
}

@keyframes hueRotateMWX {
  to {
    filter: hue-rotate(3.142rad);
  }
}

@keyframes hueRotate {
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes colour-1 {
  0% {
    top: 50%;
    left: 100%;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 0%;
  }
  75% {
    top: 0%;
  }
  100% {
    top: 50%;
    left: 100%;
  }
}

@keyframes colour-2 {
  0% {
    top: 50%;
    left: 100%;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 0%;
  }
  75% {
    top: 0%;
  }
  100% {
    top: 50vh;
    left: 100%;
  }
}

@keyframes colour-3 {
  0% {
    top: 100%;
    left: 50%;
  }
  25% {
    left: 100%;
  }
  50% {
    top: 0%;
  }
  75% {
    left: 0%;
  }
  100% {
    top: 100%;
    left: 50%;
  }
}



