%inner {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.mwx-mesh {
  width: 100%;
  height: 50vh;

  background-color:hsla(217,38%,51%,1);
  position: relative;
  &--single {

    div {
      animation: none !important;
    }
  }
  &__1 {
    @extend %inner;
    animation: mesh 12s 0s infinite;
    background-image:
            radial-gradient(at 0% 0%, hsla(14,66%,63%,1) 0px, transparent 65%),
            radial-gradient(at 0% 200%, hsla(157,38%,51%,1) 0px, transparent 65%),
            radial-gradient(at 200% 100%, hsla(289,70%,51%,1) 0px, transparent 65%);
  }
  &__2 {
    @extend %inner;
    animation: mesh 12s 4s infinite;
    background-image:
            radial-gradient(at 0% 0%, hsla(14,66%,63%,.5) 0px, transparent 65%),
            radial-gradient(at 0% 100%, hsla(157,38%,51%,1) 0px, transparent 65%),
            radial-gradient(at 100% 100%, hsla(289,70%,51%,1) 0px, transparent 65%);
  }

  &__3 {
    @extend %inner;
    animation: mesh 12s 8s infinite;
    background-image:
            radial-gradient(at 130% 0%, hsla(359,70%,51%,1) 0px, transparent 65%),
            radial-gradient(at 130% 100%, hsla(289,70%,51%,1) 0px, transparent 65%),
            radial-gradient(at 120% 67%, hsla(14,66%,63%,1) 0px, transparent 65%);
  }
}
.mesh {
  width: 100%;
  height: 40vh;
  background-color:#FFF;

  position: relative;
  &__1 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image:
            radial-gradient(at 40% 20%, #ffb87a 0px, transparent 60%),
            radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 60%),
            radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 60%),
            radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 60%),
            radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 60%),
            radial-gradient(at 80% 100%, hsla(240,86%,43%,1) 0px, transparent 60%),
            radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 60%);
  }
  &__2 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    animation: mesh 14s 20s infinite;
    background-image:
            radial-gradient(at 38% 0%, hsla(28,100%,74%,1) 0px, transparent 60%),
            radial-gradient(at 0% 22%, hsla(189,100%,56%,1) 0px, transparent 60%),
            radial-gradient(at 29% 99%, hsla(355,100%,93%,1) 0px, transparent 60%),
            radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 60%),
            radial-gradient(at 77% 98%, hsla(22,100%,77%,1) 0px, transparent 60%),
            radial-gradient(at 99% 24%, hsla(240,86%,43%,1) 0px, transparent 60%),
            radial-gradient(at 0% 76%, hsla(343,100%,76%,1) 0px, transparent 60%)
  }
  &__3 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    animation: mesh 14s 2s infinite;
    background-image:
    radial-gradient(at 1% 4%, hsla(28,100%,74%,1) 0px, transparent 60%),
    radial-gradient(at 4% 95%, hsla(189,100%,56%,1) 0px, transparent 60%),
    radial-gradient(at 89% 99%, hsla(355,100%,93%,1) 0px, transparent 60%),
    radial-gradient(at 100% 11%, hsla(340,100%,76%,1) 0px, transparent 60%),
    radial-gradient(at 77% 98%, hsla(22,100%,77%,1) 0px, transparent 60%),
    radial-gradient(at 55% 15%, hsla(240,86%,43%,1) 0px, transparent 60%),
    radial-gradient(at 49% 99%, hsla(343,100%,76%,1) 0px, transparent 60%)
  }
  &--single {

    div {
      animation: none !important;
    }
  }
}

@keyframes mesh {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes meshout {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*

background-color:hsla(0,100%,50%,1);
background-image:
radial-gradient(at 38% 0%, hsla(28,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 0% 22%, hsla(189,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 29% 99%, hsla(355,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
radial-gradient(at 77% 98%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 99% 24%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 76%, hsla(343,100%,76%,1) 0px, transparent 50%)

*/